{
  "extends": "airbnb",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6
},
  "rules":{
    "linebreak-style": 0,
    "react/jsx-one-expression-per-line":0 ,
    "react/jsx-filename-extension": [
        1,
        {
            "extensions": [
                ".js",
                ".jsx"
            ]
        }
    ]
  },
  "env": {
    "browser": true
  }
}